---
layout: default
---
<div class="container">
  <h2 class="spacing w3-xxxlarge w3-text-red">{{ page.title }}</h2>

  <div class="blog-post spacing">
    <p class="summary">{{ page.category }} - <span class="date">{{ page.date | date: '%B %d, %Y' }}</span></p>
    {{ content }}
  </div>

  <div class="comments"></div>
  <h3>Leave a comment</h3>
  <div id="recaptcha-container"></div>
  <form id="comment">
    <div class="w3-section">
      <label for="message">Message</label>
      <input id="message" class="w3-input w3-border" type="text" name="Message" required="">
    </div>
    <div class="w3-section">
      <label for="name">Name</label>
      <input id="namee" class="w3-input w3-border" type="text" name="Name" required="">
    </div>
    <div class="w3-section">
      <label for="email">Email</label>
      <input id="email" class="w3-input w3-border" type="text" name="Email" required="">
    </div>
    <div id="doSubmit">
      Post comment
    </div>
  </form>


</div>
